.main{
    width: 100%;
    padding: 32px 32px;
}
.container{
    margin: 0 auto;
    max-width: 1300px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
h1{
    font-size: 25px;
    color: aliceblue;
    font-family: Noto Sans TC;
    font-weight: 400;
    cursor: pointer;
}
ul{
    display: flex;
    align-items: center;
    gap: 50px;
}
li{
    list-style: none;
    font-size: 14px;
    font-family: poppins;
    color: aliceblue;
    cursor: pointer;
    
}
.contact{
    background-color: white;
    color: black;
    padding: 5px 17px;
    border-radius: 22px;
}
